.postWapper {
  width: 100%;
  background: #ffffff;
  border: 1px solid #dedede;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 20px;
  .postHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    .postImg {
      flex: 0 0 45px;
      height: 45px;
      position: relative;
      img {
        object-fit: cover;
        border-radius: 100%;
      }
    }
    .postContent {
      flex: 0 0 calc(100% - 180px);
      h6 {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
        margin-bottom: 2px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .star {
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 12px;
          color: #000000;
          margin-left: 10px;
          display: flex;
          justify-content: flex-start;
          align-items: center;

          svg {
            margin-right: 5px;
          }
        }
      }
      .date {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -0.165px;
        color: #8897a0;
      }
    }
    .postbtn {
      flex: 0 0 100px;
      display: flex;
      justify-content: flex-end;
      cursor: pointer;
    }
  }
  .postTxt {
    h5 {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      align-items: center;
      letter-spacing: -0.165px;
      color: #000000;
      margin-bottom: 0px;
    }
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: -0.165px;
      color: #798aa4;
      margin-bottom: 10px;
    }
  }
  .postBanner {
    position: relative;
    height: 320px;
    margin-bottom: 10px;
    &.mainPost {
      height: 500px;
    }
    img {
      object-fit: cover;
      border-radius: 6px;
    }
  }
  .postSocial {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    .socialItem {
      background: rgba(26, 118, 255, 0.1);
      border-radius: 6px;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      color: #000000;
      height: 30px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0px 10px;
      svg {
        width: auto;
        height: 15px;
        margin-right: 10px;
      }
      &:last-child {
        margin-left: auto;
      }
    }
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .postWapper {
    padding: 10px;
    margin-bottom: 20px;
    .postHeader {
      margin-bottom: 10px;
      .postImg {
        flex: 0 0 40px;
        height: 40px;
      }
      .postContent {
        flex: 0 0 calc(100% - 160px);
        h6 {
          font-size: 14px;
          line-height: 21px;
          .star {
            font-size: 12px;
            line-height: 12px;
            margin-left: 10px;
            svg {
              margin-right: 2px;
            }
          }
        }
        .date {
          font-size: 11px;
          line-height: 11px;
        }
      }
      .postbtn {
        flex: 0 0 100px;
      }
    }
    .postTxt {
      h5 {
        font-size: 13px;
        line-height: 22px;
      }
      p {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 10px;
      }
    }
    .postBanner {
      height: 220px;
      margin-bottom: 10px;
      &.mainPost {
        height: 500px;
      }
    }
    .postSocial {
      gap: 5px;
      .socialItem {
        font-size: 11px;
        line-height: 11px;
        height: 30px;
        padding: 0px 10px;
        svg {
          height: 13px;
          margin-right: 5px;
        }
      }
    }
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .postWapper {
    padding: 10px;
    margin-bottom: 20px;
    .postHeader {
      margin-bottom: 10px;
      .postImg {
        flex: 0 0 40px;
        height: 40px;
      }
      .postContent {
        flex: 0 0 calc(100% - 160px);
        h6 {
          font-size: 13px;
          line-height: 20px;
          .star {
            font-size: 12px;
            line-height: 12px;
            margin-left: 10px;
            svg {
              margin-right: 2px;
            }
          }
        }
        .date {
          font-size: 11px;
          line-height: 11px;
        }
      }
      .postbtn {
        flex: 0 0 100px;
      }
    }
    .postTxt {
      h5 {
        font-size: 13px;
        line-height: 22px;
      }
      p {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 10px;
      }
    }
    .postBanner {
      height: 200px;
      margin-bottom: 10px;
      &.mainPost {
        height: 500px;
      }
    }
    .postSocial {
      gap: 5px;
      .socialItem {
        font-size: 10px;
        line-height: 10px;
        height: 30px;
        padding: 0px 10px;
        svg {
          height: 12px;
          margin-right: 5px;
        }
      }
    }
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .postWapper {
    padding: 10px;
    margin-bottom: 20px;
    .postHeader {
      margin-bottom: 10px;
      .postImg {
        flex: 0 0 40px;
        height: 40px;
      }
      .postContent {
        flex: 0 0 calc(100% - 150px);
        h6 {
          font-size: 12px;
          line-height: 20px;
          .star {
            font-size: 11px;
            line-height: 11px;
            margin-left: 5px;
            svg {
              margin-right: 0px;
            }
          }
        }
        .date {
          font-size: 10px;
          line-height: 10px;
        }
      }
      .postbtn {
        flex: 0 0 100px;
      }
    }
    .postTxt {
      h5 {
        font-size: 13px;
        line-height: 22px;
      }
      p {
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 10px;
      }
    }
    .postBanner {
      height: 180px;
      margin-bottom: 10px;
      &.mainPost {
        height: 500px;
      }
    }
    .postSocial {
      gap: 5px;
      .socialItem {
        font-size: 10px;
        line-height: 10px;
        height: 30px;
        padding: 0px 10px;
        svg {
          height: 12px;
          margin-right: 5px;
        }
      }
    }
  }
}
@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .postWapper {
    padding: 10px;
    margin-bottom: 20px;
    .postHeader {
      margin-bottom: 10px;
      .postImg {
        flex: 0 0 40px;
        height: 40px;
      }
      .postContent {
        flex: 0 0 calc(100% - 150px);
        h6 {
          font-size: 12px;
          line-height: 20px;
          .star {
            font-size: 11px;
            line-height: 11px;
            margin-left: 5px;
            svg {
              margin-right: 0px;
            }
          }
        }
        .date {
          font-size: 10px;
          line-height: 10px;
        }
      }
      .postbtn {
        flex: 0 0 100px;
      }
    }
    .postTxt {
      h5 {
        font-size: 13px;
        line-height: 22px;
      }
      p {
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 10px;
      }
    }
    .postBanner {
      height: 180px;
      margin-bottom: 10px;
      &.mainPost {
        height: 500px;
      }
    }
    .postSocial {
      gap: 5px;
      .socialItem {
        font-size: 10px;
        line-height: 10px;
        height: 30px;
        padding: 0px 10px;
        svg {
          height: 12px;
          margin-right: 5px;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 899px) {
  .postWapper {
    padding: 10px;
    margin-bottom: 20px;
    .postHeader {
      margin-bottom: 10px;
      .postImg {
        flex: 0 0 40px;
        height: 40px;
      }
      .postContent {
        flex: 0 0 calc(100% - 150px);
        h6 {
          font-size: 12px;
          line-height: 20px;
          .star {
            font-size: 11px;
            line-height: 11px;
            margin-left: 5px;
            svg {
              margin-right: 0px;
            }
          }
        }
        .date {
          font-size: 10px;
          line-height: 10px;
        }
      }
      .postbtn {
        flex: 0 0 100px;
      }
    }
    .postTxt {
      h5 {
        font-size: 13px;
        line-height: 22px;
      }
      p {
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 10px;
      }
    }
    .postBanner {
      height: 180px;
      margin-bottom: 10px;
      &.mainPost {
        height: 500px;
      }
    }
    .postSocial {
      gap: 5px;
      .socialItem {
        font-size: 10px;
        line-height: 10px;
        height: 30px;
        padding: 0px 10px;
        svg {
          height: 12px;
          margin-right: 5px;
        }
      }
    }
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .postWapper {
    padding: 10px;
    margin-bottom: 20px;
    .postHeader {
      margin-bottom: 10px;
      .postImg {
        flex: 0 0 40px;
        height: 40px;
      }
      .postContent {
        flex: 0 0 calc(100% - 150px);
        h6 {
          font-size: 12px;
          line-height: 20px;
          .star {
            font-size: 11px;
            line-height: 11px;
            margin-left: 5px;
            svg {
              margin-right: 0px;
            }
          }
        }
        .date {
          font-size: 10px;
          line-height: 10px;
        }
      }
      .postbtn {
        flex: 0 0 100px;
      }
    }
    .postTxt {
      h5 {
        font-size: 13px;
        line-height: 22px;
      }
      p {
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 10px;
      }
    }
    .postBanner {
      height: 180px;
      margin-bottom: 10px;
      &.mainPost {
        height: 500px;
      }
    }
    .postSocial {
      gap: 5px;
      .socialItem {
        font-size: 10px;
        line-height: 10px;
        height: 30px;
        padding: 0px 10px;
        svg {
          height: 12px;
          margin-right: 5px;
        }
      }
    }
  }
}
@media only screen and (min-width: 0px) and (max-width: 575px) {
  .postWapper {
    padding: 10px;
    margin-bottom: 20px;
    .postHeader {
      margin-bottom: 10px;
      flex-wrap: wrap;

      .postImg {
        flex: 0 0 40px;
        height: 40px;
        margin-bottom: 10px;
      }
      .postContent {
        flex: 0 0 calc(100% - 30px);
        h6 {
          font-size: 12px;
          line-height: 20px;
          .star {
            font-size: 11px;
            line-height: 11px;
            margin-left: 5px;
            svg {
              margin-right: 0px;
            }
          }
        }
        .date {
          font-size: 10px;
          line-height: 10px;
        }
      }
      .postbtn {
        flex: 0 0 30px;
        svg {
          width: auto;
          height: 15px;
        }
      }
    }
    .postTxt {
      h5 {
        font-size: 13px;
        line-height: 18px;
      }
      p {
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 10px;
      }
    }
    .postBanner {
      height: 150px;
      margin-bottom: 10px;
      &.mainPost {
        height: 500px;
      }
    }
    .postSocial {
      gap: 5px;
      // flex-wrap: wrap;
      .socialItem {
        font-size: 0px;
        line-height: 0px;
        height: 30px;
        padding: 0px 10px;
        span {
          font-size: 10px;
        }
        svg {
          height: 12px;
          margin-right: 5px;
        }
      }
    }
  }
}
