.sessionBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1a76ff;
  padding: 25px;
  border-radius: 12px;
  width: 100%;
  margin-bottom: 20px;
  .sessionImg {
    height: 80px;
    flex: 0 0 80px;
    position: relative;
    img {
      object-fit: cover;
      border-radius: 100%;
    }
  }
  .sessionContent {
    flex: 0 0 65%;
    h4 {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: -0.165px;
      color: #ffffff;
    }
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.165px;
      color: rgba(255, 255, 255, 0.6);
      margin-bottom: 0px;
    }
  }
  .sessionButton {
    flex: 0 0 calc(220px - 20px);
    button {
      border-radius: 10px;
      width: 100%;
      height: 50px;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 14px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: -0.165px;
      color: #1a76ff;
      border: 0px;
      justify-content: center;
      transition: all 0.3s ease-in-out;
      border: 1px solid #fff;
      background: #fff;
      &:hover {
        color: #fff;
        background: transparent;
      }
    }
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .sessionBar {
    padding: 20px;
    border-radius: 12px;
    width: 100%;
    margin-bottom: 20px;
    .sessionImg {
      height: 65px;
      flex: 0 0 65px;
    }
    .sessionContent {
      flex: 0 0 63%;
      h4 {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 5px;
      }
      p {
        font-size: 13px;
        line-height: 18px;
      }
    }
    .sessionButton {
      flex: 0 0 calc(180px - 20px);
      button {
        height: 45px;
        font-size: 13px;
        line-height: 13px;
      }
    }
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .sessionBar {
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    .sessionImg {
      height: 65px;
      flex: 0 0 65px;
    }
    .sessionContent {
      flex: 0 0 63%;
      h4 {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 5px;
      }
      p {
        font-size: 12px;
        line-height: 18px;
      }
    }
    .sessionButton {
      flex: 0 0 calc(160px - 10px);
      button {
        height: 45px;
        font-size: 12px;
        line-height: 12px;
      }
    }
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .sessionBar {
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    .sessionImg {
      height: 60px;
      flex: 0 0 60px;
    }
    .sessionContent {
      flex: 0 0 63%;
      h4 {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 5px;
      }
      p {
        font-size: 12px;
        line-height: 16px;
      }
    }
    .sessionButton {
      flex: 0 0 calc(140px - 10px);
      button {
        height: 40px;
        font-size: 12px;
        line-height: 12px;
      }
    }
  }
}
@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .sessionBar {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    .sessionImg {
      height: 65px;
      flex: 0 0 65px;
    }
    .sessionContent {
      flex: 0 0 65%;
      h4 {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 5px;
      }
      p {
        font-size: 13px;
        line-height: 18px;
      }
    }
    .sessionButton {
      flex: 0 0 calc(160px - 20px);
      button {
        height: 40px;
        font-size: 12px;
        line-height: 12px;
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 899px) {
  .sessionBar {
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    flex-wrap: wrap;
    .sessionImg {
      height: 65px;
      flex: 0 0 65px;
    }
    .sessionContent {
      flex: 0 0 calc(100% - 80px);
      h4 {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 5px;
      }
      p {
        font-size: 13px;
        line-height: 18px;
      }
    }
    .sessionButton {
      margin-top: 10px;
      flex: 0 0 100%;
      button {
        height: 40px;
        font-size: 12px;
        line-height: 12px;
      }
    }
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .sessionBar {
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    flex-wrap: wrap;
    .sessionImg {
      height: 65px;
      flex: 0 0 65px;
    }
    .sessionContent {
      flex: 0 0 calc(100% - 80px);
      h4 {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 5px;
      }
      p {
        font-size: 13px;
        line-height: 18px;
      }
    }
    .sessionButton {
      margin-top: 10px;
      flex: 0 0 100%;
      button {
        height: 40px;
        font-size: 12px;
        line-height: 12px;
      }
    }
  }
}
@media only screen and (min-width: 0px) and (max-width: 575px) {
  .sessionBar {
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    flex-wrap: wrap;
    align-items: flex-start;
    .sessionImg {
      height: 65px;
      flex: 0 0 65px;
      margin-bottom: 10px;
    }
    .sessionContent {
      flex: 0 0 100%;
      h4 {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 5px;
      }
      p {
        font-size: 13px;
        line-height: 18px;
      }
    }
    .sessionButton {
      margin-top: 10px;
      flex: 0 0 100%;
      button {
        height: 40px;
        font-size: 12px;
        line-height: 12px;
      }
    }
  }
}
