.mainLayout {
  max-width: calc(100% - 50px);
  margin: 25px auto;
  background: rgb(26 118 255 / 5%);
  height: calc(100vh - 50px);
  border-radius: 20px;
  padding: 25px;

  .loginImage {
    position: relative;
    height: calc(100vh - 100px);
    width: 100%;
    overflow: hidden;
    img {
      object-fit: cover;
      border-radius: 20px;
    }
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0px;
      top: 0px;
      background: radial-gradient(
        64.13% 71.94% at 8.51% 94.09%,
        #1a76ff 0%,
        rgba(13, 206, 184, 0.2) 100%
      );
      border-radius: 20px;
    }
  }
  .loginSection {
    padding: 0px 50px;
    .mainLogo {
      margin-bottom: 30px;
      display: block;
    }
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .mainLayout {
    max-width: calc(100% - 40px);
    margin: 20px auto;
    height: calc(100vh - 40px);
    padding: 25px;

    .loginImage {
      height: calc(100vh - 100px);
    }
    .loginSection {
      padding: 0px 40px;
      .mainLogo {
        margin-bottom: 20px;
      }
    }
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .mainLayout {
    max-width: calc(100% - 40px);
    margin: 20px auto;
    height: calc(100vh - 40px);
    padding: 20px;

    .loginImage {
      height: calc(100vh - 100px);
    }
    .loginSection {
      padding: 0px 20px;
      .mainLogo {
        margin-bottom: 20px;
      }
    }
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .mainLayout {
    max-width: calc(100% - 40px);
    margin: 20px auto;
    height: calc(100vh - 40px);
    padding: 20px;

    .loginImage {
      height: calc(100vh - 100px);
    }
    .loginSection {
      padding: 0px 20px;
      .mainLogo {
        margin-bottom: 20px;
      }
    }
  }
}
@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .mainLayout {
    max-width: calc(100% - 40px);
    margin: 15px auto;
    height: calc(100vh - 40px);
    padding: 15px;

    .loginImage {
      height: calc(100vh - 100px);
    }
    .loginSection {
      padding: 0px 15px;
      .mainLogo {
        margin-bottom: 15px;
        svg {
          width: auto;
          height: 40px;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 899px) {
  .mainLayout {
    max-width: calc(100% - 40px);
    margin: 15px auto;
    height: calc(100vh - 40px);
    padding: 15px;

    .loginImage {
      height: calc(100vh - 100px);
    }
    .loginSection {
      padding: 0px 15px;
      .mainLogo {
        margin-bottom: 15px;
        svg {
          width: auto;
          height: 40px;
        }
      }
    }
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .mainLayout {
    max-width: calc(100% - 40px);
    margin: 15px auto;
    height: calc(100vh - 40px);
    padding: 15px;

    .loginImage {
      height: calc(100vh - 100px);
    }
    .loginSection {
      padding: 0px 15px;
      .mainLogo {
        margin-bottom: 15px;
        svg {
          width: auto;
          height: 40px;
        }
      }
    }
  }
}
@media only screen and (min-width: 0px) and (max-width: 575px) {
  .mainLayout {
    max-width: calc(100% - 30px);
    margin: 15px auto;
    height: calc(100vh - 30px);
    padding: 15px;

    .loginImage {
      height: calc(100vh - 100px);
    }
    .loginSection {
      padding: 0px 0px;
      .mainLogo {
        margin-bottom: 15px;
        svg {
          width: auto;
          height: 30px;
        }
      }
    }
  }
}
