.communityPage {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .communityContent {
    flex: 0 0 65%;
  }
  .communitySide {
    flex: 0 0 calc(35% - 20px);
    background: #ffffff;
    border: 1px solid #dedede;
    border-radius: 12px;
    padding: 25px;
    height: calc(100vh + 80px);
    overflow: auto;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .communityPage {
    .communityContent {
      flex: 0 0 65%;
    }
    .communitySide {
      flex: 0 0 calc(35% - 15px);
      padding: 20px;
      height: calc(100vh + 80px);
    }
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .communityPage {
    .communityContent {
      flex: 0 0 65%;
    }
    .communitySide {
      flex: 0 0 calc(35% - 15px);
      padding: 20px;
      height: calc(100vh + 80px);
    }
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .communityPage {
    .communityContent {
      flex: 0 0 65%;
    }
    .communitySide {
      flex: 0 0 calc(35% - 10px);
      padding: 15px;
      height: calc(100vh + 80px);
    }
  }
}
@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .communityPage {
    flex-wrap: wrap;
    .communityContent {
      flex: 0 0 100%;
    }
    .communitySide {
      flex: 0 0 100%;
      padding: 15px;
      height: calc(100vh + 80px);
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 899px) {
  .communityPage {
    flex-wrap: wrap;
    .communityContent {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .communitySide {
      flex: 0 0 100%;
      padding: 15px;
      height: calc(100vh + 80px);
    }
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .communityPage {
    flex-wrap: wrap;
    .communityContent {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .communitySide {
      flex: 0 0 100%;
      padding: 15px;
      height: calc(100vh + 80px);
    }
  }
}
@media only screen and (min-width: 0px) and (max-width: 575px) {
  .communityPage {
    flex-wrap: wrap;
    .communityContent {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .communitySide {
      flex: 0 0 calc(100% - 0px);
      padding: 15px;
      height: calc(100vh + 80px);
    }
  }
}
