:root {
  --font-poppins: "Poppins", sans-serif;
}

body {
  font-family: var(--font-poppins);
  max-width: 1920px;
  margin: auto;

  &.active {
    overflow: hidden;

    &::after {
      content: "";
      background: rgba(0, 0, 0, 0.35);
      backdrop-filter: blur(7.5px);
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0px;
      left: 0px;
      z-index: 2;
    }
  }
  .form-check-input:checked {
    background-color: #3b79ff;
    border-color: transparent;
  }
  .navIcon {
    display: none;
  }
  .container {
    max-width: 1440px;
  }
  a {
    text-decoration: none;
  }
  ul {
    margin: 0px;
    padding: 0px;
    li {
      list-style: none;
    }
  }
  .p-100 {
    padding: 100px 0px;
  }

  .subtitle {
    font-family: var(--font-poppins);
    background: rgba(26, 118, 255, 0.1);
    border-radius: 50px;
    height: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    width: 200px;
    justify-content: center;
    color: #1a76ff;
    margin-bottom: 20px;
    &.centerPosition {
      margin: 0px auto 20px;
    }
  }
  h1 {
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 700;
    font-size: 75px;
    line-height: 90px;
    text-transform: capitalize;
    color: #ffffff;
  }
  h2 {
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
    margin-bottom: 20px;
  }
  h4 {
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: -1.41622px;
    text-transform: capitalize;
    color: #ffffff;
  }
  h5 {
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    color: #000000;
    margin-bottom: 10px;
  }
  h6 {
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
  }
  p {
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #5c5c5c;
    margin-bottom: 20px;
  }
  .commonBtn {
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border-radius: 50px;
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    border: 1px solid #ffffff;
    color: #1a76ff;
    transition: all 0.3s ease-in-out;

    &:hover {
      background: #1a76ff;
      border: 1px solid #1a76ff;
      color: #fff;
    }
  }
  .embla_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px;
    gap: 10px;

    &.centerMode {
      justify-content: center;
      margin: 30px 0px 0px;
    }

    div {
      height: 38px;
      width: 38px;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background: #ffffff;
      border: 1px solid rgba(138, 149, 160, 0.7);

      svg {
        width: auto;
        height: 15px;

        path {
          fill: #8a95a0;
        }
      }

      &:hover {
        transition: 0.3s linear;
        border: 1px solid #1a76ff;
        svg {
          path {
            fill: #1a76ff;
          }
        }
      }

      &.embla_prev {
        svg {
          transform: rotate(-180deg);
        }
      }
    }
  }
  .modal {
    .modal-lg {
      --bs-modal-width: 900px;
      .modal-content {
        border-radius: 30px;
      }
    }
  }
}

.react-calendar {
  position: relative;
  z-index: 2;
  .react-calendar__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    button {
      border: 0px;
      background: transparent;
      flex: 0 0 auto;
      font-size: 20px;
      font-weight: 300;
      padding: 0px 10px;
      height: 100%;
      color: #c9c9c9;
      min-width: 40px;
      &:nth-child(3) {
        font-weight: 600;
        font-size: 16px;
        color: #333;
      }
      &:hover {
        color: #1a76ff;
      }
    }
  }
  .react-calendar__month-view__weekdays {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    color: #333;
    abbr {
      text-decoration: none;
    }
  }
  .react-calendar__year-view__months {
    justify-content: space-between;
    .react-calendar__year-view__months__month {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70px;
      border: 0px solid #e6e6e6;
      text-align: center;
      font-weight: 600;
      font-size: 16px;
      color: #333;
      background-color: transparent;
      border-radius: 10px;
      height: 100px;
      flex-basis: calc(100% / 4 - 5px) !important;
      margin-bottom: 5px;
      &.react-calendar__tile--now {
        position: relative;
        background: #ebeef2;
        &::after {
          content: "";
          background: #1a76ff;
          width: 8px;
          height: 8px;
          border-radius: 100%;
          position: absolute;
          bottom: 10px;
        }
      }

      &:hover {
        background: #1a76ff;
        color: #fff;
        &::after {
          content: "";
          background: #fff;
        }
        &:disabled {
          color: #333;
          background: #fff;
        }
      }
    }
  }
  .react-calendar__month-view__days {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    color: #333;
    gap: 2px;

    button {
      border: 0px solid #e6e6e6;
      background: transparent;
      flex-basis: calc(100% / 7 - 5px) !important;
      font-size: 15px;
      font-weight: 600;
      padding: 0px 10px;
      // background: #EBEEF2;
      border-radius: 10px;
      margin-bottom: 5px;
      height: 100%;

      &:disabled {
        background: transparent;
      }

      &.react-calendar__tile--now {
        position: relative;
        background: #ebeef2;
        &::after {
          content: "";
          background: #1a76ff;
          width: 8px;
          height: 8px;
          border-radius: 10px;
          position: absolute;
          bottom: 5px;
          left: 50%;
          transform: translate(-50%, -2px);
        }
        &.react-calendar__tile--active {
          &:enabled:focus {
            &::after {
              content: "";
              background: #fff;
            }
          }
        }
      }
      &:enabled:hover {
        background: #1a76ff;
        color: #fff;
        &::after {
          content: "";
          background: #fff;
        }
      }
      &.react-calendar__tile--active {
        &:enabled:focus {
          background: #1a76ff;
          color: #fff;
        }
      }
    }
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  body {
    .container {
      max-width: 1260px;
    }
    .p-100 {
      padding: 80px 0px;
    }

    .subtitle {
      height: 45px;
      font-size: 17px;
      line-height: 24px;
      width: 180px;
    }
    h1 {
      font-size: 60px;
      line-height: 70px;
    }
    h2 {
      font-size: 40px;
      line-height: 50px;
      margin-bottom: 15px;
    }
    h4 {
      font-size: 30px;
      line-height: 35px;
    }
    h5 {
      font-size: 24px;
      line-height: 32px;
    }
    h6 {
      font-size: 20px;
      line-height: 26px;
    }
    p {
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 20px;
    }
    .commonBtn {
      width: 200px;
      height: 55px;
      font-size: 18px;
      line-height: 18px;
    }
    .embla_container {
      gap: 5px;
      &.centerMode {
        margin: 20px 0px 0px;
      }
      div {
        height: 35px;
        width: 35px;
        svg {
          height: 15px;
        }
      }
    }
    .modal {
      .modal-lg {
        --bs-modal-width: 850px;
        .modal-content {
          border-radius: 25px;
        }
      }
    }
  }
  .react-calendar {
    .react-calendar__navigation {
      height: 45px;
      button {
        font-size: 25px;
        padding: 0px 10px;
        min-width: 50px;
        &:nth-child(3) {
          font-size: 15px;
        }
      }
    }
    .react-calendar__month-view__weekdays {
      height: 45px;
      font-size: 15px;
    }
    .react-calendar__year-view__months {
      .react-calendar__year-view__months__month {
        font-size: 15px;
        height: 95px;
        flex: 0 0 calc(100% / 4 - 5px) !important;
        &.react-calendar__tile--now {
          &::after {
            width: 8px;
            height: 8px;
            bottom: 10px;
          }
        }
      }
    }
    .react-calendar__month-view__days {
      height: 55px;
      font-weight: 600;
      font-size: 14px;
      gap: 2px;
      button {
        flex: 0 0 calc(100% / 7 - 3px) !important;
        font-size: 14px;
        padding: 0px 10px;
        margin-bottom: 5px;
        &.react-calendar__tile--now {
          &::after {
            width: 7px;
            height: 7px;
            bottom: 5px;
            left: 50%;
            transform: translate(-50%, -2px);
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  body {
    .container {
      max-width: 1200px;
    }
    .subtitle {
      height: 45px;
      font-size: 17px;
      line-height: 24px;
      width: 170px;
    }
    .p-100 {
      padding: 70px 0px;
    }
    h1 {
      font-size: 50px;
      line-height: 60px;
    }
    h2 {
      font-size: 36px;
      line-height: 46px;
      margin-bottom: 15px;
    }
    h5 {
      font-size: 22px;
      line-height: 30px;
    }
    h6 {
      font-size: 18px;
      line-height: 24px;
    }
    p {
      font-size: 17px;
      line-height: 25px;
      margin-bottom: 15px;
    }
    .commonBtn {
      width: 200px;
      height: 50px;
      font-size: 17px;
      line-height: 17px;
    }
    .embla_container {
      gap: 5px;
      &.centerMode {
        margin: 20px 0px 0px;
      }
      div {
        height: 32px;
        width: 32px;
        svg {
          height: 14px;
        }
      }
    }
  }
  .react-calendar {
    .react-calendar__navigation {
      height: 40px;
      button {
        font-size: 25px;
        padding: 0px 10px;
        min-width: 40px;
        &:nth-child(3) {
          font-size: 15px;
        }
      }
    }
    .react-calendar__month-view__weekdays {
      height: 40px;
      font-size: 14px;
    }
    .react-calendar__year-view__months {
      .react-calendar__year-view__months__month {
        font-size: 14px;
        height: 88px;
        flex: 0 0 calc(100% / 4 - 5px) !important;
        &.react-calendar__tile--now {
          &::after {
            width: 8px;
            height: 8px;
            bottom: 15px;
          }
        }
      }
    }
    .react-calendar__month-view__days {
      height: 50px;
      font-weight: 600;
      font-size: 14px;
      gap: 2px;
      button {
        flex: 0 0 calc(100% / 7 - 3px) !important;
        font-size: 14px;
        padding: 0px 10px;
        margin-bottom: 5px;
        &.react-calendar__tile--now {
          &::after {
            width: 7px;
            height: 7px;
            bottom: 5px;
            left: 50%;
            transform: translate(-50%, -2px);
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  body {
    .subtitle {
      height: 45px;
      font-size: 16px;
      line-height: 22px;
      width: 170px;
    }
    .container {
      max-width: 1120px;
    }
    .p-100 {
      padding: 60px 0px;
    }
    h1 {
      font-size: 50px;
      line-height: 60px;
    }
    h2 {
      font-size: 35px;
      line-height: 45px;
      margin-bottom: 15px;
    }
    h5 {
      font-size: 22px;
      line-height: 30px;
    }
    h6 {
      font-size: 18px;
      line-height: 24px;
    }
    p {
      font-size: 17px;
      line-height: 25px;
      margin-bottom: 15px;
    }
    .commonBtn {
      width: 180px;
      height: 50px;
      font-size: 17px;
      line-height: 17px;
    }
    .embla_container {
      gap: 5px;
      &.centerMode {
        margin: 20px 0px 0px;
      }
      div {
        height: 32px;
        width: 32px;
        svg {
          height: 14px;
        }
      }
    }
  }
  .react-calendar {
    .react-calendar__navigation {
      height: 40px;
      button {
        font-size: 25px;
        padding: 0px 10px;
        min-width: 40px;
        &:nth-child(3) {
          font-size: 15px;
        }
      }
    }
    .react-calendar__month-view__weekdays {
      height: 40px;
      font-size: 14px;
    }
    .react-calendar__year-view__months {
      .react-calendar__year-view__months__month {
        font-size: 14px;
        height: 88px;
        flex: 0 0 calc(100% / 4 - 5px) !important;
        &.react-calendar__tile--now {
          &::after {
            width: 8px;
            height: 8px;
            bottom: 15px;
          }
        }
      }
    }
    .react-calendar__month-view__days {
      height: 48px;
      font-weight: 600;
      font-size: 13px;
      gap: 2px;
      button {
        flex: 0 0 calc(100% / 7 - 3px) !important;
        font-size: 13px;
        padding: 0px 10px;
        margin-bottom: 5px;
        &.react-calendar__tile--now {
          &::after {
            width: 6px;
            height: 6px;
            bottom: 3px;
            left: 50%;
            transform: translate(-50%, -2px);
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 900px) and (max-width: 1099px) {
  body {
    .container {
      max-width: 95%;
    }
    .subtitle {
      height: 45px;
      font-size: 16px;
      line-height: 22px;
      width: 170px;
    }
    .p-100 {
      padding: 50px 0px;
    }
    h1 {
      font-size: 50px;
      line-height: 60px;
    }
    h2 {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 10px;
    }
    h5 {
      font-size: 20px;
      line-height: 30px;
    }
    h6 {
      font-size: 16px;
      line-height: 22px;
    }
    p {
      font-size: 15px;
      line-height: 22px;
      margin-bottom: 15px;
    }
    .commonBtn {
      width: 170px;
      height: 45px;
      font-size: 16px;
      line-height: 16px;
    }
    .embla_container {
      gap: 5px;
      &.centerMode {
        margin: 20px 0px 0px;
      }
      div {
        height: 30px;
        width: 30px;
        svg {
          height: 12px;
        }
      }
    }
  }
  .react-calendar {
    .react-calendar__navigation {
      height: 40px;
      button {
        font-size: 25px;
        padding: 0px 10px;
        min-width: 40px;
        &:nth-child(3) {
          font-size: 15px;
        }
      }
    }
    .react-calendar__month-view__weekdays {
      height: 40px;
      font-size: 14px;
    }
    .react-calendar__year-view__months {
      .react-calendar__year-view__months__month {
        font-size: 14px;
        height: 88px;
        flex: 0 0 calc(100% / 4 - 5px) !important;
        &.react-calendar__tile--now {
          &::after {
            width: 8px;
            height: 8px;
            bottom: 15px;
          }
        }
      }
    }
    .react-calendar__month-view__days {
      height: 39px;
      font-weight: 600;
      font-size: 13px;
      gap: 2px;
      button {
        flex: 0 0 calc(100% / 7 - 3px) !important;
        font-size: 13px;
        padding: 0px 10px;
        margin-bottom: 5px;
        &.react-calendar__tile--now {
          &::after {
            width: 5px;
            height: 5px;
            bottom: 3px;
            left: 50%;
            transform: translate(-50%, -2px);
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 899px) {
  body {
    .container {
      max-width: 95%;
    }
    .subtitle {
      height: 45px;
      font-size: 15px;
      line-height: 22px;
      width: 160px;
    }
    .p-100 {
      padding: 40px 0px;
    }
    h1 {
      font-size: 45px;
      line-height: 55px;
    }
    h2 {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 10px;
    }
    h5 {
      font-size: 20px;
      line-height: 30px;
    }
    h6 {
      font-size: 18px;
      line-height: 24px;
    }
    p {
      font-size: 15px;
      line-height: 22px;
      margin-bottom: 15px;
    }
    .commonBtn {
      width: 150px;
      height: 42px;
      font-size: 15px;
      line-height: 15px;
    }
    .embla_container {
      gap: 5px;
      &.centerMode {
        margin: 20px 0px 0px;
      }
      div {
        height: 30px;
        width: 30px;
        svg {
          height: 12px;
        }
      }
    }
  }
  .react-calendar {
    .react-calendar__navigation {
      height: 40px;
      button {
        font-size: 25px;
        padding: 0px 10px;
        min-width: 40px;
        &:nth-child(3) {
          font-size: 15px;
        }
      }
    }
    .react-calendar__month-view__weekdays {
      height: 40px;
      font-size: 14px;
    }
    .react-calendar__year-view__months {
      .react-calendar__year-view__months__month {
        font-size: 14px;
        height: 88px;
        flex: 0 0 calc(100% / 4 - 5px) !important;
        &.react-calendar__tile--now {
          &::after {
            width: 8px;
            height: 8px;
            bottom: 15px;
          }
        }
      }
    }
    .react-calendar__month-view__days {
      height: 39px;
      font-weight: 600;
      font-size: 13px;
      gap: 2px;
      button {
        flex: 0 0 calc(100% / 7 - 3px) !important;
        font-size: 13px;
        padding: 0px 10px;
        margin-bottom: 5px;
        &.react-calendar__tile--now {
          &::after {
            width: 5px;
            height: 5px;
            bottom: 3px;
            left: 50%;
            transform: translate(-50%, -2px);
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  body {
    .navIcon {
      z-index: 99;
      justify-content: flex-end;
      display: flex;
      position: relative;
      svg {
        width: 30px;
        height: auto;
      }
    }
    .container {
      max-width: 95%;
    }
    .subtitle {
      height: 45px;
      font-size: 15px;
      line-height: 22px;
      width: 160px;
    }
    .p-100 {
      padding: 40px 0px;
    }
    h1 {
      font-size: 50px;
      line-height: 60px;
    }
    h2 {
      font-size: 26px;
      line-height: 36px;
      margin-bottom: 10px;
    }
    h5 {
      font-size: 20px;
      line-height: 30px;
    }
    h6 {
      font-size: 18px;
      line-height: 24px;
    }
    p {
      font-size: 15px;
      line-height: 24px;
      margin-bottom: 15px;
    }
    .commonBtn {
      width: 150px;
      height: 42px;
      font-size: 15px;
      line-height: 15px;
    }
    .embla_container {
      gap: 5px;
      &.centerMode {
        margin: 20px 0px 0px;
      }
      div {
        height: 30px;
        width: 30px;
        svg {
          height: 12px;
        }
      }
    }
  }
  .react-calendar {
    max-width: 300px;
    .react-calendar__navigation {
      height: 40px;
      button {
        font-size: 25px;
        padding: 0px 10px;
        min-width: 40px;
        &:nth-child(3) {
          font-size: 15px;
        }
      }
    }
    .react-calendar__month-view__weekdays {
      height: 40px;
      font-size: 14px;
    }
    .react-calendar__year-view__months {
      .react-calendar__year-view__months__month {
        font-size: 14px;
        height: 88px;
        flex: 0 0 calc(100% / 4 - 5px) !important;
        &.react-calendar__tile--now {
          &::after {
            width: 8px;
            height: 8px;
            bottom: 15px;
          }
        }
      }
    }
    .react-calendar__month-view__days {
      height: 39px;
      font-weight: 600;
      font-size: 13px;
      gap: 2px;
      button {
        flex: 0 0 calc(100% / 7 - 3px) !important;
        font-size: 13px;
        padding: 0px 10px;
        margin-bottom: 5px;
        &.react-calendar__tile--now {
          &::after {
            width: 5px;
            height: 5px;
            bottom: 3px;
            left: 50%;
            transform: translate(-50%, -2px);
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 0px) and (max-width: 575px) {
  body {
    .navIcon {
      z-index: 99;
      justify-content: flex-end;
      display: flex;
      position: relative;
      svg {
        width: 30px;
        height: auto;
      }
    }
    .container {
      max-width: 95%;
    }
    .subtitle {
      height: 45px;
      font-size: 15px;
      line-height: 22px;
      width: 160px;
    }
    .p-100 {
      padding: 40px 0px;
    }
    h1 {
      font-size: 40px;
      line-height: 50px;
    }
    h2 {
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 10px;
    }
    h5 {
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 5px;
    }
    h6 {
      font-size: 16px;
      line-height: 24px;
    }
    p {
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 15px;
    }
    .commonBtn {
      width: 150px;
      height: 42px;
      font-size: 15px;
      line-height: 15px;
    }
    .embla_container {
      gap: 5px;
      &.centerMode {
        margin: 20px 0px 0px;
      }
      div {
        height: 30px;
        width: 30px;
        svg {
          height: 12px;
        }
      }
    }
  }
  .react-calendar {
    height: 350px;
    .react-calendar__navigation {
      height: 40px;
      button {
        font-size: 25px;
        padding: 0px 10px;
        min-width: 40px;
        &:nth-child(3) {
          font-size: 15px;
        }
      }
    }
    .react-calendar__month-view__weekdays {
      height: 40px;
      font-size: 14px;
    }
    .react-calendar__year-view__months {
      .react-calendar__year-view__months__month {
        font-size: 13px;
        height: 78px;
        flex: 0 0 calc(100% / 4 - 5px) !important;
        &.react-calendar__tile--now {
          &::after {
            width: 8px;
            height: 8px;
            bottom: 15px;
          }
        }
      }
    }
    .react-calendar__month-view__days {
      height: 44px;
      font-weight: 600;
      font-size: 13px;
      gap: 2px;
      button {
        flex: 0 0 calc(100% / 7 - 3px) !important;
        font-size: 13px;
        padding: 0px 10px;
        margin-bottom: 5px;
        &.react-calendar__tile--now {
          &::after {
            width: 5px;
            height: 5px;
            bottom: 3px;
            left: 50%;
            transform: translate(-50%, -2px);
          }
        }
      }
    }
  }
}
