.mainSetting {
  width: 100%;
  background: #ffffff;
  border: 1px solid #dedede;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 20px;
  .changePasswordWrapper {
    max-width: 35%;
    margin: 50px auto;
    .fieldInput {
      flex: 0 0 100%;

      margin-bottom: 15px;
      label {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 15px;
        letter-spacing: -0.02em;
        color: #798aa4;
        margin-bottom: 10px;
      }
      .fieldBox {
        position: relative;
        input {
          width: 100%;
          height: 60px;
          background: #ffffff;
          border: 1px solid #e0e5f2;
          border-radius: 10px;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          display: flex;
          padding: 0px 15px;
          align-items: center;
          color: rgba(0, 0, 0, 0.4);
          outline: none;
        }
        span {
          position: absolute;
          right: 20px;
          top: 50%;
          transform: translate(0px, -50%);
          cursor: pointer;
          svg {
            width: auto;
            height: 20px;
          }
        }
      }
    }
    .fieldbBtn {
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 15px;
        height: 54px;
        background: #1a76ff;
        border: 1px solid #1a76ff;
        border-radius: 10px;
        color: #fff;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        width: 100%;
      }
    }
  }
}
