.postdetailsPage {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .postdetailsContent {
    flex: 0 0 60%;
  }
  .postdetailsSide {
    flex: 0 0 calc(40% - 20px);
    background: #ffffff;
    border: 1px solid #dedede;
    border-radius: 12px;
    padding: 25px;
    height: 75vh;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .postdetailsPage {
    .postdetailsContent {
      flex: 0 0 60%;
    }
    .postdetailsSide {
      flex: 0 0 calc(40% - 15px);
      padding: 15px;
      height: 75vh;
    }
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .postdetailsPage {
    .postdetailsContent {
      flex: 0 0 60%;
    }
    .postdetailsSide {
      flex: 0 0 calc(40% - 15px);
      padding: 15px;
      height: 75vh;
    }
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .postdetailsPage {
    .postdetailsContent {
      flex: 0 0 60%;
    }
    .postdetailsSide {
      flex: 0 0 calc(40% - 15px);
      padding: 15px;
      height: 75vh;
    }
  }
}
@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .postdetailsPage {
    flex-wrap: wrap;
    .postdetailsContent {
      flex: 0 0 100%;
    }
    .postdetailsSide {
      flex: 0 0 calc(100% - 0px);
      padding: 15px;
      height: 75vh;
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 899px) {
  .postdetailsPage {
    flex-wrap: wrap;
    .postdetailsContent {
      flex: 0 0 100%;
    }
    .postdetailsSide {
      flex: 0 0 calc(100% - 0px);
      padding: 15px;
      height: 75vh;
    }
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .postdetailsPage {
    flex-wrap: wrap;
    .postdetailsContent {
      flex: 0 0 100%;
    }
    .postdetailsSide {
      flex: 0 0 calc(100% - 0px);
      padding: 15px;
      height: 75vh;
    }
  }
}
@media only screen and (min-width: 0px) and (max-width: 575px) {
  .postdetailsPage {
    flex-wrap: wrap;
    .postdetailsContent {
      flex: 0 0 100%;
    }
    .postdetailsSide {
      flex: 0 0 calc(100% - 0px);
      padding: 15px;
      height: 75vh;
    }
  }
}
