.coursesContainer {
  .coursesTabs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    li {
      background: #ffffff;
      border-radius: 8px;
      height: 40px;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      letter-spacing: -0.165px;
      color: #798aa4;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 100px;
      padding: 0px 20px;
      cursor: pointer;
      &.active {
        background: rgb(26, 118, 255, 0.2);
        border-radius: 8px;
        color: #1a76ff;
      }
      &:hover {
        background: rgb(26, 118, 255, 0.2);
        border-radius: 8px;
        color: #1a76ff;
      }
    }
  }
  .coursesContent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    .coursesSection {
      flex: 0 0 calc(33.33% - 10px);
      background: #ffffff;
      border: 1px solid #dedede;
      border-radius: 12px;
      padding: 15px;

      .coursesImg {
        position: relative;
        height: 170px;
        margin-bottom: 15px;
        img {
          object-fit: cover;
          border-radius: 10px;
        }
      }
      .coursesTxt {
        h3 {
          font-style: normal;
          font-weight: 600;
          font-size: 15px;
          line-height: 20px;
          letter-spacing: -0.165px;
          color: #000000;
          margin-bottom: 5px;
        }
        p {
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 20px;
          letter-spacing: -0.165px;
          color: #798aa4;
          margin-bottom: 10px;
        }
      }
      .coursesAction {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .coursesPrice {
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 30px;
          letter-spacing: -0.151627px;
          color: #000000;
        }
      }
      a {
        border-radius: 10px;
        width: 120px;
        height: 45px;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 14px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: -0.165px;
        color: #1a76ff;
        border: 0px;
        justify-content: center;
        transition: all 0.3s ease-in-out;
        border: 1px solid #1a76ff;
        background: #fff;
        &:hover {
          background: #1a76ff;
          color: #fff;
        }
      }
    }
  }
  .paginationContainer {
    width: 100%;
    text-align: right;
    margin-top: 20px;
    .coursesPagination {
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      background: #ffffff;
      border: 1px solid #dedede;
      border-radius: 4px;
      margin-left: auto;
      overflow: hidden;
      div {
        height: 35px;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 35px;
        letter-spacing: -0.165px;
        color: #798aa4;
        text-align: center;
        flex: 0 0 50px;
        cursor: pointer;
        &:first-child {
          flex: 0 0 75px;
        }
        &:last-child {
          flex: 0 0 75px;
        }
        &.active {
          background: rgb(26, 118, 255, 0.2);
          color: #1a76ff;
        }
        &:hover {
          background: rgb(26, 118, 255, 0.2);
          color: #1a76ff;
        }
      }
    }
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .coursesContainer {
    .coursesTabs {
      gap: 10px;
      margin-bottom: 20px;
      li {
        height: 40px;
        font-size: 14px;
        line-height: 16px;
        min-width: 100px;
        padding: 0px 20px;
      }
    }
    .coursesContent {
      gap: 10px;
      .coursesSection {
        flex: 0 0 calc(33.33% - 10px);
        padding: 15px;

        .coursesImg {
          height: 170px;
          margin-bottom: 15px;
        }
        .coursesTxt {
          h3 {
            font-size: 15px;
            line-height: 20px;
          }
          p {
            font-size: 12px;
            line-height: 20px;
            margin-bottom: 10px;
          }
        }
        .coursesAction {
          .coursesPrice {
            font-size: 19px;
            line-height: 19px;
          }
        }
        a {
          width: 110px;
          height: 40px;
          font-size: 13px;
          line-height: 13px;
        }
      }
    }
    .paginationContainer {
      width: 100%;
      margin-top: 20px;
      .coursesPagination {
        div {
          height: 35px;
          font-size: 12px;
          line-height: 35px;
          flex: 0 0 45px;
          &:first-child {
            flex: 0 0 60px;
          }
          &:last-child {
            flex: 0 0 60px;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .coursesContainer {
    .coursesTabs {
      gap: 10px;
      margin-bottom: 20px;
      li {
        height: 40px;
        font-size: 13px;
        line-height: 13px;
        min-width: 100px;
        padding: 0px 20px;
      }
    }
    .coursesContent {
      gap: 10px;
      .coursesSection {
        flex: 0 0 calc(33.33% - 10px);
        padding: 15px;

        .coursesImg {
          height: 160px;
          margin-bottom: 15px;
        }
        .coursesTxt {
          h3 {
            font-size: 14px;
            line-height: 19px;
          }
          p {
            font-size: 12px;
            line-height: 20px;
            margin-bottom: 10px;
          }
        }
        .coursesAction {
          .coursesPrice {
            font-size: 18px;
            line-height: 18px;
          }
        }
        a {
          width: 110px;
          height: 40px;
          font-size: 12px;
          line-height: 12px;
        }
      }
    }
    .paginationContainer {
      width: 100%;
      margin-top: 15px;
      .coursesPagination {
        div {
          height: 35px;
          font-size: 11px;
          line-height: 35px;
          flex: 0 0 42px;
          &:first-child {
            flex: 0 0 60px;
          }
          &:last-child {
            flex: 0 0 60px;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .coursesContainer {
    .coursesTabs {
      gap: 10px;
      margin-bottom: 20px;
      li {
        height: 40px;
        font-size: 13px;
        line-height: 13px;
        min-width: 100px;
        padding: 0px 20px;
      }
    }
    .coursesContent {
      gap: 10px;
      .coursesSection {
        flex: 0 0 calc(33.33% - 10px);
        padding: 15px;

        .coursesImg {
          height: 160px;
          margin-bottom: 15px;
        }
        .coursesTxt {
          h3 {
            font-size: 13px;
            line-height: 18px;
          }
          p {
            font-size: 11px;
            line-height: 18px;
            margin-bottom: 10px;
          }
        }
        .coursesAction {
          .coursesPrice {
            font-size: 16px;
            line-height: 16px;
          }
        }
        a {
          width: 100px;
          height: 35px;
          font-size: 12px;
          line-height: 12px;
        }
      }
    }
    .paginationContainer {
      width: 100%;
      margin-top: 15px;
      .coursesPagination {
        div {
          height: 35px;
          font-size: 11px;
          line-height: 35px;
          flex: 0 0 42px;
          &:first-child {
            flex: 0 0 60px;
          }
          &:last-child {
            flex: 0 0 60px;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .coursesContainer {
    .coursesTabs {
      gap: 10px;
      margin-bottom: 20px;
      li {
        height: 40px;
        font-size: 13px;
        line-height: 13px;
        min-width: 100px;
        padding: 0px 20px;
      }
    }
    .coursesContent {
      gap: 10px;
      .coursesSection {
        flex: 0 0 calc(50% - 10px);
        padding: 15px;

        .coursesImg {
          height: 160px;
          margin-bottom: 15px;
        }
        .coursesTxt {
          h3 {
            font-size: 13px;
            line-height: 18px;
          }
          p {
            font-size: 11px;
            line-height: 18px;
            margin-bottom: 10px;
          }
        }
        .coursesAction {
          .coursesPrice {
            font-size: 16px;
            line-height: 16px;
          }
        }
        a {
          width: 100px;
          height: 35px;
          font-size: 12px;
          line-height: 12px;
        }
      }
    }
    .paginationContainer {
      width: 100%;
      margin-top: 15px;
      .coursesPagination {
        div {
          height: 35px;
          font-size: 11px;
          line-height: 35px;
          flex: 0 0 42px;
          &:first-child {
            flex: 0 0 60px;
          }
          &:last-child {
            flex: 0 0 60px;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 899px) {
  .coursesContainer {
    .coursesTabs {
      gap: 5px;
      margin-bottom: 20px;
      li {
        height: 35px;
        font-size: 12px;
        line-height: 12px;
        min-width: 90px;
        padding: 0px 10px;
      }
    }
    .coursesContent {
      gap: 5px;
      .coursesSection {
        flex: 0 0 calc(50% - 5px);
        padding: 15px;

        .coursesImg {
          height: 160px;
          margin-bottom: 15px;
        }
        .coursesTxt {
          h3 {
            font-size: 13px;
            line-height: 18px;
          }
          p {
            font-size: 11px;
            line-height: 18px;
            margin-bottom: 10px;
          }
        }
        .coursesAction {
          .coursesPrice {
            font-size: 16px;
            line-height: 16px;
          }
        }
        a {
          width: 100px;
          height: 35px;
          font-size: 12px;
          line-height: 12px;
        }
      }
    }
    .paginationContainer {
      width: 100%;
      margin-top: 15px;
      .coursesPagination {
        div {
          height: 35px;
          font-size: 11px;
          line-height: 35px;
          flex: 0 0 42px;
          &:first-child {
            flex: 0 0 60px;
          }
          &:last-child {
            flex: 0 0 60px;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .coursesContainer {
    .coursesTabs {
      gap: 5px;
      margin-bottom: 10px;
      li {
        height: 35px;
        font-size: 12px;
        line-height: 12px;
        min-width: 80px;
        padding: 0px 10px;
      }
    }
    .coursesContent {
      gap: 5px;
      .coursesSection {
        flex: 0 0 calc(100% - 0px);
        padding: 15px;

        .coursesImg {
          height: 160px;
          margin-bottom: 15px;
        }
        .coursesTxt {
          h3 {
            font-size: 13px;
            line-height: 18px;
          }
          p {
            font-size: 11px;
            line-height: 18px;
            margin-bottom: 10px;
          }
        }
        .coursesAction {
          .coursesPrice {
            font-size: 16px;
            line-height: 16px;
          }
        }
        a {
          width: 100px;
          height: 35px;
          font-size: 12px;
          line-height: 12px;
        }
      }
    }
    .paginationContainer {
      width: 100%;
      margin-top: 15px;
      .coursesPagination {
        div {
          height: 35px;
          font-size: 11px;
          line-height: 35px;
          flex: 0 0 42px;
          &:first-child {
            flex: 0 0 60px;
          }
          &:last-child {
            flex: 0 0 60px;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 0px) and (max-width: 575px) {
  .coursesContainer {
    .coursesTabs {
      gap: 5px;
      margin-bottom: 10px;
      flex-wrap: wrap;
      li {
        flex: 0 0 100%;
        height: 35px;
        font-size: 12px;
        line-height: 12px;
        min-width: 80px;
        padding: 0px 10px;
      }
    }
    .coursesContent {
      gap: 5px;
      .coursesSection {
        flex: 0 0 calc(100% - 0px);
        padding: 15px;

        .coursesImg {
          height: 160px;
          margin-bottom: 15px;
        }
        .coursesTxt {
          h3 {
            font-size: 13px;
            line-height: 18px;
          }
          p {
            font-size: 11px;
            line-height: 18px;
            margin-bottom: 10px;
          }
        }
        .coursesAction {
          .coursesPrice {
            font-size: 16px;
            line-height: 16px;
          }
        }
        a {
          width: 100px;
          height: 35px;
          font-size: 12px;
          line-height: 12px;
        }
      }
    }
    .paginationContainer {
      width: 100%;
      margin-top: 15px;
      .coursesPagination {
        div {
          height: 35px;
          font-size: 11px;
          line-height: 35px;
          flex: 0 0 42px;
          &:first-child {
            flex: 0 0 60px;
          }
          &:last-child {
            flex: 0 0 60px;
          }
        }
      }
    }
  }
}
