.faqsPage {
  .faqsContent {
    background: #ffffff;
    border: 1px solid #dedede;
    border-radius: 12px;
    padding: 50px 25px;

    .faqsContainer {
      max-width: 80%;
      margin: auto;
      .faqsBox {
        height: 70px;
        overflow: hidden;
        transition: height 0.4s ease, opacity 0.4s ease;
        border: 1px solid rgb(217, 217, 217, 0.45);
        border-radius: 10px;
        margin-bottom: 20px;
        .faqsTitle {
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 25px;
          height: 70px;
          color: #000000;
          cursor: pointer;
          position: relative;
          padding: 0px 50px 0px 20px;
          display: flex;
          justify-content: flex-start;
          align-items: center;

          .iconBox {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translate(0, -50%);
            width: 30px;
            height: 30px;

            border-radius: 64px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #1a76ff;
            svg {
              height: 16px;
              width: 16px;
              transition: all 0.5s ease;

              path {
                fill: #fff;
              }
            }
          }
        }

        .faqscontent {
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 32px;
          letter-spacing: -0.165px;
          opacity: 0;
          max-height: 0;
          transition: max-height 0.4s ease, opacity 0.4s ease;

          ul {
            list-style: inside;
          }

          p,
          li {
            color: #73858f;
          }
        }

        &.active {
          opacity: 1;
          height: auto;
          padding-bottom: 20px;

          .faqscontent {
            opacity: 1;
            max-height: 500px;
            padding: 20px 50px 20px 20px;
          }

          .iconBox {
            background: #eeeeee;
            svg {
              transform: rotate(45deg);
              transition: all 0.5s ease;
              path {
                fill: #1a76ff;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .faqsPage {
    .faqsContent {
      padding: 40px 20px;

      .faqsContainer {
        max-width: 80%;
        .faqsBox {
          height: 70px;
          margin-bottom: 20px;
          .faqsTitle {
            font-size: 16px;
            line-height: 23px;
            height: 70px;
            padding: 0px 50px 0px 20px;
            .iconBox {
              right: 20px;
              top: 50%;
              width: 28px;
              height: 28px;
              svg {
                height: 15px;
                width: 15px;
              }
            }
          }

          .faqscontent {
            font-size: 15px;
            line-height: 30px;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .faqsPage {
    .faqsContent {
      padding: 40px 20px;

      .faqsContainer {
        max-width: 80%;
        .faqsBox {
          height: 70px;
          margin-bottom: 20px;
          .faqsTitle {
            font-size: 16px;
            line-height: 21px;
            height: 60px;
            padding: 0px 50px 0px 20px;
            .iconBox {
              right: 15px;
              top: 50%;
              width: 25px;
              height: 25px;
              svg {
                height: 12px;
                width: 12px;
              }
            }
          }

          .faqscontent {
            font-size: 14px;
            line-height: 26px;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .faqsPage {
    .faqsContent {
      padding: 35px 20px;

      .faqsContainer {
        max-width: 80%;
        .faqsBox {
          height: 60px;
          margin-bottom: 20px;
          .faqsTitle {
            font-size: 15px;
            line-height: 20px;
            height: 60px;
            padding: 0px 50px 0px 20px;
            .iconBox {
              right: 15px;
              top: 50%;
              width: 25px;
              height: 25px;
              svg {
                height: 12px;
                width: 12px;
              }
            }
          }

          .faqscontent {
            font-size: 13px;
            line-height: 24px;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .faqsPage {
    .faqsContent {
      padding: 35px 20px;

      .faqsContainer {
        max-width: 80%;
        .faqsBox {
          height: 60px;
          margin-bottom: 20px;
          .faqsTitle {
            font-size: 14px;
            line-height: 22px;
            height: 60px;
            padding: 0px 50px 0px 20px;
            .iconBox {
              right: 15px;
              top: 50%;
              width: 25px;
              height: 25px;
              svg {
                height: 12px;
                width: 12px;
              }
            }
          }

          .faqscontent {
            font-size: 13px;
            line-height: 24px;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 899px) {
  .faqsPage {
    .faqsContent {
      padding: 35px 20px;

      .faqsContainer {
        max-width: 100%;
        .faqsBox {
          height: 60px;
          margin-bottom: 10px;
          .faqsTitle {
            font-size: 14px;
            line-height: 22px;
            height: 60px;
            padding: 0px 50px 0px 20px;
            .iconBox {
              right: 15px;
              top: 50%;
              width: 25px;
              height: 25px;
              svg {
                height: 12px;
                width: 12px;
              }
            }
          }

          .faqscontent {
            font-size: 13px;
            line-height: 24px;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .faqsPage {
    .faqsContent {
      padding: 35px 20px;

      .faqsContainer {
        max-width: 100%;
        .faqsBox {
          height: 60px;
          margin-bottom: 10px;
          .faqsTitle {
            font-size: 13px;
            line-height: 20px;
            height: 60px;
            padding: 0px 50px 0px 20px;
            .iconBox {
              right: 15px;
              top: 50%;
              width: 25px;
              height: 25px;
              svg {
                height: 12px;
                width: 12px;
              }
            }
          }

          .faqscontent {
            font-size: 13px;
            line-height: 24px;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 0px) and (max-width: 575px) {
  .faqsPage {
    .faqsContent {
      padding: 35px 20px;

      .faqsContainer {
        max-width: 100%;
        .faqsBox {
          height: auto;
          margin-bottom: 10px;
          .faqsTitle {
            font-size: 13px;
            line-height: 20px;
            height: auto;
            padding: 10px 50px 10px 20px;
            .iconBox {
              right: 15px;
              top: 50%;
              width: 25px;
              height: 25px;
              svg {
                height: 12px;
                width: 12px;
              }
            }
          }

          .faqscontent {
            font-size: 13px;
            line-height: 22px;
          }

          &.active {
            .faqscontent {
              max-height: 500px;
              padding: 20px;
            }
          }
        }
      }
    }
  }
}
